<article class="tab" data-tab="misc" data-group="ws-sections">
    <h1>{{localize "lsnpc.moduleTitle"}} <em><small>{{localize "lsnpc.welcomeScreen.latest.content"}}</small></em></h1>
    <p>{{localize "lsnpc.welcomeScreen.installed-or-updated"}}</p>
    <div class="hideinfo" style="display: inline-block;">
        <input type="checkbox" class='show-again' style="flex-basis: 10%; vertical-align: middle;" id="welcome-screen-show-again" {{checked isChecked}} />
        <label for="welcome-screen-show-again" style="flex-basis: 90%;">{{localize "lsnpc.welcomeScreen.dont-show-again"}}</label>
    </div>
    <h3>🐛🔧 {{localize "lsnpc.welcomeScreen.bugs.title"}}</h3>
    <p>{{localize "lsnpc.welcomeScreen.bugs.content"}}</p>
    <p><a href="https://github.com/gregpola/t2k4e-loot-sheet-npc/issues">github.com/gregpola/t2k4e-loot-sheet-npc/issues</a></p>
    <hr />
    <h3>{{localize "lsnpc.welcomeScreen.contribs.title"}}</h3>
    <table>
        <thead>
            <tr>
                <th style="text-align: left">  {{localize "lsnpc.welcomeScreen.contribs.header.name"}}</th>
                <th style="text-align: left">  {{localize "lsnpc.welcomeScreen.contribs.header.contact"}}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Trazzm</td>
                <td>
                    <a href="https://discordapp.com/users/Trazzm#1390" title="Discord: Trazzm">
                        <i class="fab fa-discord"></i>
                    </a>
                    <a href="https://github.com/gregpola"><i class="fab fa-github"></i></a>
                </td>
            </tr>
        </tbody>
        <tfoot>
        </tfoot>
    </table>    
</article>